<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/normalize.css">
    <link rel="stylesheet" href="/styles/style.css">
</head>

<header>

<div class="header">
    <h1>Kim's blog</h1>
    <a href="">ABOUT</a>
    
</div>

<div id="options">
    <hr>

    <ul>
        <li><img src="/images/feather.svg" alt="Feather">
            <a href="">NEW POST</a></li>
            <img src="/images/circle-fill.svg" alt="" height="15em">
        <li><img src="/images/old-typical-phone.svg" alt="Telephone" height="20em">
            <a href="">CONTACT</a></li>
            <img src="/images/circle-fill.svg" alt="" height="15em">
        <li><img src="/images/calendar3.svg" alt="Calendar">
            <%= date %> </li>
    </ul>

    <hr>
</div>
</header>

<body>